checkPolicies=false
forceCheckAllDependencies=false
forceUpdate=false
forceUpdate.failBuildOnPolicyViolation=false
offline=false

wss.url=https://saas.whitesourcesoftware.com/agent

npm.resolveDependencies=true
npm.ignoreSourceFiles=false
npm.includeDevDependencies=true
npm.runPreStep=true
npm.ignoreNpmLsErrors=true
npm.ignoreScripts=true
npm.yarnProject=true
npm.identifyByNameAndVersion=true

php.resolveDependencies=false
php.runPreStep=true
php.includeDevDependencies=true

html.resolveDependencies=false

userKey=USER_KEY
apiKey=API_KEY
projectToken=PROJECT_TOKEN
#productToken=PRODUCT_TOKEN

includes=**/node_modules/
showProgressBar=false

case.sensitive.glob=false
followSymbolicLinks=true

updateInventory=updateInventoryValue